:root {
    --primary-bg: #f0ede7;
    --primary-text: #332b23;
    --primary-button: #F2B33D;
    --primary-button-hover: #d99e1a;
    --secondary-button: #5DBA5A;
    --secondary-button-hover: #419c3e;
    --secondary-bg: #f8f8f8;
    --secondary-text: #f8f8f8;
    --dark-bg: #222222;
    --dark-bg-sub: #524C44;
    --dark-text: #6FEFDE;
    --dark-text-sub: #fcf9f4;
    --dark-button: #6FEFDE;
    --sun-icon: #dac500;
    --moon-icon: #BB86FC;
    }