@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./colors.css";

html:before,
body:before {
  content: '';
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
}


/* html:before,
body:before {
  content: '';
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-bg);
  text-decoration: none;
}

.adjacent-post .arrow-btn {
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
  width: 50px;
}

.adjacent-post:hover .arrow-btn {
  width: 60px;
}

.react-multi-carousel-list .arrow-btn {
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
  width: 50px;
}

.react-multi-carousel-list .arrow-btn:hover {
  width: 60px;
} */

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
} */

/* .font-MplusRounded {
  font-family: 'M PLUS Rounded 1c', sans-serif;
} */

.button-mycolor{
  background-color:#F1FAEE;
}

.font-mycolor {
  color: #524C44;
}

.logo-size {
  width: 22px;
}

.toggle-container {
  padding-top: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.theme-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.theme-toggle-button.sun {
  /* Add any styles specific to the sun state */
  animation: rotateSun 1.0s ease-in-out forwards;
}

.theme-toggle-button.moon {
  /* Add any styles specific to the moon state */
  animation: rotateMoon 0.5s ease-in-out forwards;
}

@keyframes rotateSun {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateMoon {
  0% {
    transform: rotate(30deg); /* Match the initial rotation angle */
  }
  100% {
    transform: rotate(210deg); /* Rotate 180 degrees from the initial angle */
  }
}

.inverted-image {
  /* filter: invert(0%); */
  transform: scaleX(-1);
}

.rotate-image{
  transform: rotate(50deg);
}

.rotate-icon{
  transform: rotate(180deg);
}

a:hover {
  text-decoration: none;
}