@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./colors.css";

html:before,
body:before {
  content: '';
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
}

.button-mycolor{
  background-color:#F1FAEE;
}

.font-mycolor {
  color: #524C44;
}

.logo-size {
  width: 22px;
}

.toggle-container {
  padding-top: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.theme-toggle-button {
  border: none;
  cursor: pointer;
  padding: 0;

}

.theme-toggle-button.sun {
  /* Add any styles specific to the sun state */
  animation: rotateSun 1.0s ease-in-out forwards;
  background-color: #fff;
  border-radius: 100%;
}

.theme-toggle-button.moon {
  /* Add any styles specific to the moon state */
  animation: rotateMoon 0.5s ease-in-out forwards;
  background-color: #fff;
  border-radius: 100%;
}

@keyframes rotateSun {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateMoon {
  0% {
    transform: rotate(30deg); /* Match the initial rotation angle */
  }
  100% {
    transform: rotate(210deg); /* Rotate 180 degrees from the initial angle */
  }
}

.inverted-image {
  /* filter: invert(0%); */
  transform: scaleX(-1);
}

.rotate-image{
  transform: rotate(-46deg);
  margin-left: 4px;
}

a:hover {
  text-decoration: none;
}